In [67]:
import pandas as pd
import numpy as np
import glob
import os

In [73]:
def concatenate_sns_files(directory):
    
    pattern = "*.csv"
    file_list = glob.glob(os.path.join(directory,pattern))
    df_list = []
    
    for filename in file_list:
        tns_df = pd.read_csv(filename)
        df_list.append(tns_df)
    
    return df_list

In [74]:
tns_sns = pd.concat(concatenate_sns_files("../csv/tns_search_files"),ignore_index=True)
tns_sns.shape

(6551, 26)

In [77]:
tns_sns = tns_sns.sort_values("Discovery Date (UT)")

In [80]:
tns_sns.keys()

Index(['ID', 'Name', 'RA', 'DEC', 'Obj. Type', 'Redshift', 'Host Name',
       'Host Redshift', 'Reporting Group/s', 'Discovery Data Source/s',
       'Classifying Group/s', 'Associated Group/s', 'Disc. Internal Name',
       'Disc. Instrument/s', 'Class. Instrument/s', 'TNS AT', 'Public',
       'End Prop. Period', 'Discovery Mag/Flux', 'Discovery Filter',
       'Discovery Date (UT)', 'Sender', 'Remarks', 'Discovery Bibcode',
       'Classification Bibcodes', 'Ext. catalog/s'],
      dtype='object')

In [81]:
duplicated_ids = tns_sns.duplicated(subset=['Disc. Internal Name'])

In [82]:
tns_sns = tns_sns[~duplicated_ids]
tns_sns.shape

(6335, 26)

In [83]:
tns_sns.to_csv("../csv/tns_search_.csv",index=False)

In [87]:
#see if any of them are already in the bts_sn dataset
bts_sns=pd.read_csv("../csv/bts_sn.csv")
bts_sns.shape

(5159, 15)

In [86]:
tns_not_in_bts = tns_sns[~tns_sns['Disc. Internal Name'].isin(bts_sns.ZTFID)]
tns_not_in_bts.shape

(2531, 26)

In [88]:
tns_not_in_bts=tns_not_in_bts.rename(columns={'Disc. Internal Name':"ZTFID"})
tns_not_in_bts.keys()

Index(['ID', 'Name', 'RA', 'DEC', 'Obj. Type', 'Redshift', 'Host Name',
       'Host Redshift', 'Reporting Group/s', 'Discovery Data Source/s',
       'Classifying Group/s', 'Associated Group/s', 'ZTFID',
       'Disc. Instrument/s', 'Class. Instrument/s', 'TNS AT', 'Public',
       'End Prop. Period', 'Discovery Mag/Flux', 'Discovery Filter',
       'Discovery Date (UT)', 'Sender', 'Remarks', 'Discovery Bibcode',
       'Classification Bibcodes', 'Ext. catalog/s'],
      dtype='object')

In [89]:
tns_not_in_bts.to_csv("../csv/tns_search_not_bts.csv",index=False)

In [90]:
#lets see if any of the yse are not in the prev datasets
yse_sns = pd.read_csv("../csv/parsnip_results_for_ysedr1_table_A1_full_for_online.csv")

In [91]:
yse_sns.head()

,Object,RA,Dec,Spec. Class,"Redshift, $z$",Prediction,Confidence,p_SNII,p_SNIa,p_SNIbc
0,2019lbi,190.088004,1.273998,SNII,0.038,SNIa,0.497,0.278,0.497,0.225
1,2019pmd,49.599161,-1.930453,SNIa-norm,0.026,SNIa,0.972,0.002,0.972,0.026
2,2019ppi,133.897475,49.160259,SNII,0.135,SNII,0.495,0.495,0.173,0.332
3,2019szh,147.176208,-8.734392,SNIa-norm,0.053,SNIa,1.000,0.000,1.000,0.000
4,2019tvv,177.772596,21.767258,SNIa-norm,0.059,SNIa,1.000,0.000,1.000,0.000

In [92]:
#let's see if any of them are in the bts data
yse_sns["IAUID"] = "SN"+yse_sns["Object"].astype(str)

In [93]:
yse_not_in_bts = yse_sns[~yse_sns["IAUID"].isin(bts_sns["IAUID"])]

In [94]:
yse_sns.shape

(1975, 11)

In [95]:
yse_not_in_bts.shape

(1808, 11)

In [96]:
yse_not_in_tns_either = yse_not_in_bts[~yse_not_in_bts["IAUID"].isin(tns_not_in_bts["Name"])]

In [97]:
yse_not_in_tns_either.shape

(1808, 11)

In [98]:
yse_not_in_tns_either.to_csv("../csv/yse_not_in_bts_or_tns.csv",index=False)